<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <section class="p-1">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
                <img src="./assets/images/logo.png" alt="" style="width: 180px;">
            </h6>
            <p>
                Beautify is a comprehensive salon, spa, and beauty parlor booking application 
                designed to effortlessly schedule appointments, discover top-rated services, 
                and indulge in pampering experiences, all in one convenient platform
            </p>
          </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class=" fw-bold mb-4">
              SERVICES
            </h6>
            <p>
              <a href="" class="text-reset">Salon</a>
            </p>
            <p>
              <a href="" class="text-reset">Spa</a>
            </p>
            <p>
              <a href="" class="text-reset">Beauty parlor</a>
            </p>
            <p>
              <a href="" class="text-reset">Partner with us</a>
            </p>
          </div>
  
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
            <h6 class=" fw-bold mb-4">CONTACT</h6>
            <p><i class="fas fa-home me-3"></i>Beautify Pvt.LTD</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              fayaspnisthar@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +91 8113968122</p>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <!-- Footer -->