<div class="">
    <div class="banner">
        <div class="banner-img">
            <img src="./assets/images/banner2.jpg" alt="">
        </div>
        <div class="nav d-flex gap-4">
            <div class="">Add shop</div>
            <div class="">Sign up</div>
            <div class="">Log in</div>
        </div>
        <div class="banner-logo">
            <img src="./assets/images/logo.png" alt="">
        </div>
        <div class="banner-text">
            <span>Find the best salon,spa and</span>
            <span>beauty parlor across India </span>
        </div>
    </div>
    <div class="m-5 ">
        <div class="d-flex justify-content-center gap-4">
            <div class="img-box border">
                <img src="./assets/images/img 2.jpg" alt="" >
                <span class="title">Book online</span>
                <span class="description">Book and reach at slot time</span>
            </div>
            <div class="img-box border">
                <img src="./assets/images/img 1.jpg" alt="">
                <span class="title">Spa</span>
                <span class="description">View best spa in the city's</span>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>